# Ignore virtual environments
venv/
.venv/
env/

# Ignore environment variables
.env

# Ignore excel files
Excel_file/

# Ignore output folder
# Remove the folder from the index -> git rm -r --cached output 
# git rm -r --cached output
output/

# onnx file is larger than 100 MB
onnx_model/