@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Monsterrat", sans-serif;
    font-weight: 200;
}

/* header styles */
.title {
    padding: 25px;
    margin: 50px auto 50px auto; /*Margin is 15px top, 5px bottom, left and right auto*/
    text-align: center;
}

p.subtitle1 {
    font-weight: bold;
    color: #D84040;
}

h1 {
    font-size: 28px;
}

p.subtitle2 {
    padding-top: 15px;
    font-size: 14px;
    color: gray;
    /* make sentence newline */
    width: 450px;
    margin: auto;
}


/* form styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#drop_zone {
    width: 600px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    /* center the text */
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 20px;
    cursor: pointer;
}

/* New style for when a file is selected */
#drop_zone.file-selected {
    border: 2px solid green;
}

/* button styling */
#submitBtn {
    margin: 15px 0; /* Margin is 10px top and bottom, 0 left and right */
    padding: 10px 20px;
    background-color: #D84040;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitBtn:disabled {
    background-color: #ccc;    /* Gray background */
    cursor: not-allowed;       /* “No” cursor */
    opacity: 0.6;              /* Slightly faded look */
  }

#submitBtn:hover {
    background-color: #d42c2c; /* Red background on hover */
}

/* selected file text styling */
#filePreview {
    font-size: 14px;
    color: gray;
}

/* Spinner container (optional styling) */
#spinner {
    margin-top: 20px;
    text-align: center;
  }
  
  /* Spinner element styling */
  .loader {
    border: 8px solid #f3f3f3;         /* Light grey */
    border-top: 8px solid #D84040;       /* Blue color for the spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  /* Spinner animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }