<html>   
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Download your file</title>
   <link rel="stylesheet" href="static/styles_ack.css">
</head>   
<body>
   <section class="title">
      <p class="subtitle1">VSTECS, Oracle, Comply</p>
      <h1>Download your TOR file!</h1>
      <p class="subtitle2">From the Excel file, we would get a result file that returns the similarity score along with the matched statement. Please use this as a reference but do recheck for accuracy</p>
   </section>
   <div class="container">
      <p>File uploaded and processed successfully!</p>
      <p>
         <a href="/download_result">Download File</a>
      </p>
      <p>
         <a href="/download_output_zip">Download Output Folder</a>
     </p>
   </div>
   <button class = "Backhome" onclick="location.href='/'">New Upload</button>
   <script src="static/script.js"></script>
</body>   
</html>
