<html>   
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>upload the file : GFG</title>
   <link rel="stylesheet" href="static/styles.css">
</head>   
<body>
   <section class="title">
      <p class = "subtitle1">VSTECS, Oracle, Comply</p>
      <h1>Upload your TOR file to comply</h1>
      <p class = "subtitle2">Upload Excel file, the file should be in the format of TOR, base on the provided template.</p>
   </section>
   <div class="container">
      <!-- Attach multiple drag events to this div -->
      <div id="drop_zone"
         ondrop="dropHandler(event);"
         ondragover="dragOverHandler(event);"
         ondragenter="dragEnterHandler(event);"
         ondragleave="dragLeaveHandler(event);">
      <p>Drop your file here or click to upload your xlsx file</p>
      </div>
   </div>
   <script src="static/script.js"></script>
</body>   
</html>